Para comemorar os 40 anos de fundação do Departamento de Sistemas e Computação da UFCG, criamos um sistema de egressos. O objetivo deste sistema é criar um ponto de encontro virtual para nossos ex-alunos, professores e a própria UFCG. Se cadastre para ficar em contato com sua turma, colegas de outras turmas e conosco. É rápido e fácil, basta clicar neste link: {{ link }}

Pedimos a sua ajuda para ampliarmos o número de egressos cadastrados. Depois de concluir seu cadastrado acessando o link acima, faça login no sistema e convide seus ex-colegas a se cadastrarem também. Isso pode ser feito de forma simples e rápida!

Se você enfrentar algum problema durante seu cadastro, entre em contato conosco através do endereço alumni@computacao.ufcg.edu.br.

Obrigado e seja bem-vindo!
